<!--Página inicial para login-->

<!--Formulario de login copiado do bootstrap (http://getbootstrap.com/docs/4.0/components/forms/)-->
<h1>Vino Vídeos</h1>

<form>
    <div class="input-group mb-3 inputLogin">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
          </span>
        </div>
        <input #inputNome type="text" class="form-control" placeholder="Nome Completo" >
      </div>

      <div class="input-group mb-3 inputLogin">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                    <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                </svg>
            </span>
          </div>
        <input #inputSenha type="password" class="form-control" placeholder="oi Senha do Evento" >
      </div>


    <div id="grupoBotao">
      <button type="button" class="btn btn-primary btn-login" (click)="fazerLogin(inputNome, inputSenha)">Login</button>
    </div>

</form>

<div *ngIf="mensagemErro">
    <p>{{mensagem}}</p>
</div>
